.pay-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 10%;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    transition-duration: 1s;
}

textarea, select, input, button { outline: none; }

input[type=number]:focus{
    border: none;
    padding: 2px;
    border-radius: 8px;
    /* background-color: rgb(161, 143, 197); */
}

.codeblock{
    background-color: #686D76;
    padding: 4px;
    border-radius: 6px;
}